* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(146, 146, 146);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

li:hover {
  cursor:pointer;
}

.tarefaRealizada {
  text-decoration: line-through;
}